*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500;1,600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

a{
  color:#333
}
.topArea {
    background-color: #635CDB;
    padding: 15px 0;
  }
  .topLeft a {
    color: #fff;
    margin-right: 15px;
  }
  .topSocial {
    text-align: right;
  }
  .topSocial a {
    color: #fff;
    margin-left: 15px;
  }
  .navbar.navbar-expand-lg.navbar-light {
	width: 100%;
}
.bg{
  position: relative;
  background-size: cover;
  background-position: center;
}
.bg:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: .75;
}

.PageArea {
  background-color: #635CDB;
  text-align: center;
  padding: 60px 0;
  color: #fff;
}
.pageTop h4 {
  font-size: 36px;
  font-weight: 600;
}
.pageTop p {
  margin-bottom: 0;
}
.bannarArea .slick-arrow {
	display: none !important;
}

.singleSlide:before {
    position: absolute;
    content: "";
    width: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    height: 100%;
    opacity: .75;
  }
  .singleSlide img {
    width: 100%;
  }
  .singleSlide {
    position: relative;
    z-index: 2;
  }
  .slideContent {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #fff;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .bannarArea .slick-dots {
	bottom: 50%;
	margin: 0;
	list-style: none;
	position: absolute;
	transform: translateY(-50%);
    right: 20px;
    width: auto;
}
.bannarArea .slick-dots li {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 15px;
	padding: 0;
	cursor: pointer;
    display: block;
    background-color: #fff;
}
.bannarArea .slick-dots li.slick-active button::before {
    color: transparent;
    opacity: 1;
}
.bannarArea .slick-dots li.slick-active{
    background-color: #635CDB;
}
.bannarArea .slick-dots li button::before {
	opacity: 1;
	color: transparent;
}

.slideContent h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
    margin: 20px 0;
  }
  .slideContent h4 {
    text-transform: capitalize;
    font-size: 20px;
  }
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}

.sectionTitle h3 {
    text-align: right;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 600;
  }
  .sectionTitle {
    align-items: center;
    position: relative;
    margin-bottom: 80px;
  }
  .sectionTitle p {
    margin-bottom: 0;
  }
  .sectionTitle h3 span {
    display: block;
    font-size: 16px;
    font-style: italic;
  }
  .sectionTitle:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 80px;
    background-color: #635CDB;
    right: 50%;
    top: 30px;
    transform: translateY(-50%);
  }
  .sectionTitle:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    background-color: #635CDB;
    right: 50%;
    top: 70px;
    transform: translateY(-50%) rotate(90deg);
  }
  
.singleAboutContent h4 {
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
}
.singleAboutContent {
  position: relative;
}
.singleAbout {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px;
}
.singleAbout svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #635CDB;
  color: #635CDB;
  width: 40px !important;
  height: 40px;
  display: block !important;
  padding: 10px;
  border-radius: 50%;
}
.singleAboutContent h4:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #635CDB;
  bottom: -5px;
}
.aboutLeft h4 {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}
.aboutLeft h4:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: ;
  background-color: #635CDB;
  bottom: -5px;
}
.skillsArea {
	background-image: url('../images/bg-counter.jpg');
}

.singleProgress .progress-bar {
  background-color: #635CDB !important;
}
.singleProgress .progress {
  margin-bottom: 20px;
}
.skillTitle h4 {
  color: #fff;
  margin-bottom: 25px;
}

.singleProgress h4 {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
.singleSkill .accordion > .card > .card-header {
	background-color: #635CDB;
	color: #fff;
}
.singleSkill .card {
	border: 0;
	border-radius: 0;
}

.singleService {
  text-align: center;
  box-shadow: 0px 10px 30px 0px rgba(205, 205, 205, 0.33);
  padding: 20px 15px;
  margin-bottom: 30px;
}
.singleService svg {
  font-size: 25px;
  color: #635CDB;
}
.singleService h4 {
  text-transform: capitalize;
  font-weight: 600;
  margin: 26px 0;
}
.singleService p {
  font-size: 15px;
}

.counterArea .col-lg-3:nth-child(even) .singleCounter {
  background-color: #292e47;
}
.counterArea .col-lg-3 {
  padding: 0;
}
.singleCounter {
  padding: 60px 25px;
  text-align: center;
}
.counterArea .col-lg-3:nth-child(odd) .singleCounter {
  background-color: #24283F;
}
.singleCounter {
  display: flex;
  justify-content: center;
}
.singleCounter {
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
}
.singleCounter svg {
  font-size: 26px;
  margin-right: 20px;
}
.singleCounter h4 {
  font-size: 20px;
}
.singleCounter span {
  font-weight: 700;
  font-size: 35px;
}
.singleTeam img {
  width: 100%;
}
.singleTeam {
  position: relative;
}
.teamOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.teamContent {
  text-align: center;
}
.teamContent h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}
.teamContent h4 span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.teamOverlay:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .75;
  z-index: -1;
}
.teamContent svg {
  color: #fff;
  margin: 0 10px;
}
.singleTeam:hover .teamOverlay {
  opacity: 1;
  visibility: visible;
}

.testimonialsArea{
  background-image: url('../images/testi_back.jpg');
}

.testimonialsArea .sectionTitle {
  color: #fff;
}
.singleTestimonial {
  text-align: center;
  color: #fff;
}
.singleTestimonial img {
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 25px;
}
.singleTestimonial h4 {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 600;
}
.singleTestimonial h4 span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.singleBlog img {
  width: 100%;
  border: 1px solid #ddd;
  padding: 3px;
}
.singleBlog h4 {
  font-size: 25px;
  margin: 16px 0px;
  font-weight: 500;
}
.blog-meta {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.blog-meta a {
  color: #333;
  margin-right: 20px;
}
.alignCenter{
  align-items: center;
}

.ctaArea {
  position: relative;
  padding: 34px 0;
  color: #fff;
}
.ctaArea:before {
  position: absolute;
  content: "";
  width: 50%;
  background-color: #292e47;
  height: 100%;
  left: 0;
  top: 0;
}
.ctaArea h4 {
  text-transform: capitalize;
  font-weight: 600;
}
.ctaArea:after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background-color: #24283F;
  right: 0;
  top: 0;
  z-index: -1;
}

.footerArea {
  background-color: #333;
  padding: 80px 0;
  color: #fff;
}
.singleFooter h2 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.singleFooter p {
  text-align: center;
}
.singleFooter h4 {
  font-size: 22px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.singleFooter h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #635CDB;
  bottom: 0;
}
.singleFooter ul {
  list-style: none;
}
.singleFooter ul li{
  margin-bottom: 10px;
}
.singleFooter ul li a {
  color: #fff;
  display: block;
}
.copy {
  text-align: center;
  margin-top: 60px;
}

.singleContact {
  text-align: center;
  margin-bottom: 60px;
}
.singleContact svg {
  background-color: #635CDB;
  color: #fff;
  padding: ;
  width: 50px !important;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
}
.singleContact h4 {
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 10px;
}
.singleContact h4 span {
  display: block;
  font-weight: normal;
  font-size: 18px;
  margin-top: 10px;
}
.ctaArea button {
	display: block;
	margin: 0 auto;
}

.singlePortfolio {
  position: relative;
  margin-bottom: 30px;
}
.singlePortfolio img {
  width: 100%;
}
.portfolioContent {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}
.portfolioContent:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .75;
  z-index: -1;
}
.portfolioContent svg {
  font-size: 35px;
  border: 1px solid #ddd;
  padding: 7px;
  border-radius: 50%;
}
.portfolioContent h4 {
  margin-top: 20px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}
.portfolioContent h4 span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.singlePortfolio:hover .portfolioContent {
  opacity: 1;
  visibility: visible;
}

.singleGallery {
  position: relative;
  margin-bottom: 30px;
}
.singleGallery img {
  width: 100%;
}
.GalleryContent {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}
.GalleryContent:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .75;
  z-index: -1;
}
.GalleryContent svg {
  font-size: 35px;
  border: 1px solid #ddd;
  padding: 7px;
  border-radius: 50%;
}
.GalleryContent h4 {
  margin-top: 20px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}
.GalleryContent h4 span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.singleGallery:hover .GalleryContent {
  opacity: 1;
  visibility: visible;
}

.page h4 {
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}